@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

img {
  display: block;
  width: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: Lato, sans-serif;
  padding: 0;
  margin: 0;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5D5D5D;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.display-none {
  display: none;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.col-span-3 {
  grid-column: span 3/span 3;
}

.nav-bar {
  height: 75px;
  background-color: #222222;
  align-content: center;
}
.nav-bar__left {
  display: flex;
  gap: 41px;
  margin-left: 10px;
  align-items: center;
}
.nav-bar__right {
  display: flex;
  gap: 33px;
  align-items: center;
  margin-right: 10px;
}
.nav-bar__link {
  background-color: unset;
  border: unset;
  position: relative;
  transition: 0.3s;
}
.nav-bar__link:hover path {
  fill: #F16D7F;
  transition: 0.3s;
}

.burger__icon:focus {
  transform: rotateX(90deg);
}
.burger:focus:before {
  content: "X";
  font-size: 40px;
  color: #F16D7F;
  line-height: 32px;
}
.burger:focus .burger__icon {
  display: none;
}
.burger:focus .burger-menu {
  position: absolute;
  top: 53px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059);
  display: flex;
  flex-direction: column;
  width: 232px;
  padding: 32px;
  left: -50px;
  z-index: 2;
  opacity: 1;
}
.burger:active .burger-menu {
  display: block;
}

.burger-menu {
  display: none;
  opacity: 0;
  transition: all 0.3s;
}
.burger-menu__title {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 4px;
}
.burger-menu__box-title {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #F16D7F;
  margin: 20px auto 12px auto;
}
.burger-menu__links {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-left: 21px;
}
.burger-menu__link {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #6F6E6E;
}
.burger-menu__link:hover {
  color: #222222;
}

.cart-link::before {
  content: "5";
  font-size: 15px;
  font-weight: 400;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  position: absolute;
  background-color: #F16D7F;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  top: -8px;
  right: -8px;
  text-align: center;
}

.banner {
  background-color: #F1E4E6;
  flex-wrap: nowrap;
}
.banner__image {
  width: 50vw;
}
.banner__text {
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.rectangle {
  width: 12px;
  background-color: #F16D7F;
  margin-left: 64px;
  margin-right: 16px;
  height: 92px;
}

.brand-name h1 {
  font-size: 32px;
  font-weight: 700;
  color: #222222;
}
.brand-name h1 b {
  font-size: 48px;
  font-weight: 900;
  color: #222222;
}
.brand-name h1 span {
  font-size: 32px;
  font-weight: 700;
  color: #F16D7F;
}

.offer__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  text-align: center;
  gap: 30px;
  margin-top: 65px;
  margin-bottom: 96px;
}
.offer__card {
  position: relative;
}
.offer__text {
  position: absolute;
  background-color: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.offer__text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.offer__text h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.products {
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.products__header {
  text-align: center;
}
.products__header h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #222222;
  padding-bottom: 6px;
}
.products__header p {
  font-size: 14px;
  font-weight: 400;
  color: #9F9F9F;
  padding-bottom: 48px;
}
.products__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.products__cards_closed {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.products__cards_open {
  max-height: 2000px; /* Достаточно большое значение для отображения всего контента */
  opacity: 1;
}

.product img {
  width: 100%;
}
.product figcaption {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 16px;
}
.product figcaption h3 {
  font-size: 13px;
  font-weight: 400;
  color: #000000;
}
.product figcaption h3 span {
  font-size: 16px;
  font-weight: 400;
  color: #F16D7F;
}
.product figcaption p {
  font-weight: 300;
}
.product__images {
  position: relative;
}
.product-hover {
  display: none;
  transition: all 0.5s;
  /* -webkit-transition: all 1s linear; */
  position: absolute;
  background: rgba(58, 56, 56, 0.8588235294);
  display: flex !important;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.product__link:hover .product-hover {
  opacity: 1;
}

.button__add-to-cart {
  display: flex;
  border: 1px solid #FFFFFF;
  width: 139px;
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  align-items: center;
  justify-content: space-evenly;
}
.button__add-to-cart p {
  color: #FFFFFF;
}
.button__add-to-cart img {
  width: 26px;
}

.products__footer__button {
  border: 1px solid #FF6A6A;
  padding: 14px 39px;
  color: #F26376;
  background-color: #ffffff;
  margin: 48px auto 60px auto;
  transition: all 0.5s;
  width: 212px;
  text-align: center;
  display: block;
}
.products__footer__button::before {
  content: "";
}
.products__footer__button:hover {
  background-color: #FF6A6A;
  color: #FFFFFF;
}

.feature {
  background-color: #222224;
  padding: 104px 0;
}
.feature__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}
.feature__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.feature__image {
  width: 47px;
  margin-bottom: 10px;
}
.feature__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #FBFBFB;
}
.feature__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.subscribe-block {
  background-image: url(img/Layer\ 41.jpg);
  background-size: cover;
}
.subscribe-block__container {
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(244, 244, 244, 0.6980392157);
}
.subscribe-block__info {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}
.subscribe-block__image {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}
.subscribe-block__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.subscribe-block__text_italic {
  font-style: italic;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  text-align: center;
}
.subscribe-form__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  color: #222224;
}
.subscribe-form__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #222224;
}
.subscribe-form__email-und-button {
  flex-wrap: nowrap;
}
.subscribe-form__email {
  width: 256px;
  height: 49px;
  border-radius: 20px 0 0 20px;
  background-color: #E1E1E1;
  border: none;
  box-sizing: border-box;
}
.subscribe-form__email::-moz-placeholder {
  padding: 22px;
}
.subscribe-form__email::placeholder {
  padding: 22px;
}
.subscribe-form__email[type=email] {
  padding: 22px;
}
.subscribe-form__button {
  width: 100px;
  height: 49px;
  background-color: #E05C6E;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  border-radius: 0 20px 20px 0;
  transition: all 0.5s;
}
.subscribe-form__button:hover {
  background-color: #FFFFFF;
  color: #E05C6E;
}

.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222224;
  justify-content: space-between;
  gap: 20px;
}
.footer__copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #FBFBFB;
}

.social-icons {
  gap: 7px;
}
.social-icons__link {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.social-icons__link:hover {
  background-color: #F16D7F;
}
.social-icons__link:hover svg path {
  fill: #FFFFFF;
}
.social-icons__image {
  height: 17px;
}
.social-icons__image path {
  fill: #000000;
}

.breadcrumb {
  background-color: #F8F3F4;
  justify-content: space-between;
  align-items: center;
}
.breadcrumb__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding: 60px 0;
}
.breadcrumb__list li:last-child a {
  font-weight: 700;
  color: #F16D7F;
}
.breadcrumb__list li:not(:last-child)::after {
  content: "/";
  padding-right: 5px;
  padding-left: 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumb__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumb__link:hover {
  color: #F16D7F;
}

.filter-sort {
  height: 132px;
  position: relative;
  padding-top: 39px;
  box-sizing: border-box;
  display: flex;
  gap: 30px;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter__content {
  background-color: #fff;
  padding-top: 0;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}
.filter[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.filter__item {
  margin-top: 16px;
}
.filter__head {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__item[open] .filter__head {
  color: #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter__link:hover {
  color: #F16D7F;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
  z-index: 10;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.cart-section {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 128px;
  flex-wrap: wrap;
}
.cart-section__left {
  width: 652px;
}
.cart-section__cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart-section__card {
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  background-color: #FFFFFF;
}
.cart-section__card img {
  width: 262px;
}
.cart-section__text-box {
  display: flex;
  justify-content: space-between;
  width: 390px;
}
.cart-section__card-text {
  margin: 22px auto auto 31px;
  width: 262px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.cart-section__card-text h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}
.cart-section__card-text ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cart-section__card-text li {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.cart-section__card-text li span {
  color: #F16D7F;
}
.cart-section__card-text li input {
  border-style: solid;
  border-color: #EAEAEA;
  text-align: center;
  width: 44px;
  height: 25px;
  margin-left: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}
.cart-section__card-close {
  margin: 28px 22px auto auto;
}
.cart-section__left-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}
.cart-section__left-button {
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 17px 40px;
  transition: all 0.5s;
}
.cart-section__left-button:hover {
  color: #FFFFFF;
  background-color: #A4A4A4;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}
.cart-section__right {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 57px;
  margin-top: 15px;
}
.cart-section__input-text {
  width: 360px;
}
.cart-section__form-checkout {
  padding: 40px 43px 42px;
  background-color: #F5F3F3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart-section__form-checkout__sub-total {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: #4A4A4A;
  padding-bottom: 12px;
}
.cart-section__form-checkout__sub-total span {
  margin-left: 17px;
}
.cart-section__form-checkout__sub-total input {
  border: none;
  background-color: unset;
}
.cart-section__form-checkout__grand-total {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 21px;
}
.cart-section__form-checkout__grand-total p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.cart-section__form-checkout__grand-total span {
  margin-left: 17px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.cart-section__form-checkout__grand-total span input {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.cart-section__form-checkout__grand-total input {
  border: none;
  background-color: unset;
}
.cart-section__form-checkout input::-webkit-outer-spin-button,
.cart-section__form-checkout input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.cart-section__form-checkout input[type=number] {
  -moz-appearance: textfield;
}
.cart-section__form-checkout__box-input-submit {
  width: 100%;
  border-top: 2px solid #E2E2E2;
  padding-top: 17px;
}
.cart-section__form-checkout__input-submit {
  width: 100%;
  background: #F16D7F;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: 1px solid #F16D7F;
  padding: 16px 42px;
  transition: all 0.5s;
}
.cart-section__form-checkout__input-submit:hover {
  color: #F16D7F;
  background-color: #FFFFFF;
}

.form-post__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.form-post__box-radio {
  display: flex;
  gap: 20px;
  align-items: center;
}
.form-post__radio-button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 10px;
}
.form-post__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.form-post__input {
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  padding: 13px 18px 16px;
  box-sizing: border-box;
  transition: all 0.5s;
}
.form-post__description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}
.form-post__submit:hover {
  color: #FFFFFF;
  background-color: #A4A4A4;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}
.form-post__submit_select {
  background: #F16D7F;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: 1px solid #F16D7F;
  transition: all 0.5s;
}
.form-post__submit_select input {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: none;
  border: none;
}
.form-post__submit_select:hover {
  color: #F16D7F;
  background-color: #FFFFFF;
}
.form-post__submit_select:hover input {
  color: #F16D7F;
}
.form-post__submit_select:hover svg path {
  fill: #F16D7F;
}

.registration-section {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 96px;
}
.registration-section__left {
  width: 360px;
}
.registration-section__right {
  width: 652px;
}
.registration-section__form-input {
  width: 100%;
}
.registration-section__form-box-radio {
  margin-top: 31px;
  margin-bottom: 33px;
}
.registration-section__form-description {
  margin-top: 15px;
  margin-bottom: 39px;
}
.registration-section__offer {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.registration-section__offer-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.registration-section__offer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.registration-section__offer-check {
  margin-right: 22px;
}
.registration-section__submit_select {
  padding: 16px 29px;
}
.registration-section__submit_select input {
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .banner {
    flex-wrap: nowrap;
  }
  .brand-name h1 {
    font-size: 24px;
  }
  .brand-name h1 b {
    font-size: 44px;
  }
  .brand-name h1 span {
    font-size: 24px;
  }
  .products__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .center {
    padding-left: calc(50% - 350px);
    padding-right: calc(50% - 350px);
  }
  .burger:focus .burger-menu {
    position: fixed;
    top: 75px;
    left: auto;
  }
  .banner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .banner__image img {
    width: 100vw;
  }
  .rectangle {
    margin-left: 0;
  }
  .offer__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .offer__image {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .col-span-3 {
    grid-column: auto;
  }
  .subscribe-block-form__email {
    width: 57vw;
  }
  .products__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .subscribe-block__container {
    justify-content: center;
    flex-wrap: wrap;
  }
  .social-icons {
    margin-right: 10px;
  }
}
@media (max-width: 320px) {
  .burger:focus .burger-menu {
    left: auto;
    right: auto;
  }
}/*# sourceMappingURL=style.css.map */