@import 'vars';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
img {
    display: block;
    width: auto;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
body {
    font-family: Lato,
    sans-serif;
    padding: 0;
    margin: 0;
}
p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #5D5D5D;
}
li {
    list-style-type: none;
}
a {
    text-decoration:none;
    // transition: all 0.5s;
}
button {
    // transition: all 0.5s;
}
summary {
    display: block;
}
summary::-webkit-details-marker {
display: none;
}
.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.display-none {
    display: none;
}
.justify-center {
    justify-content: center !important;
  }
.justify-between {
    justify-content: space-between !important;
}
.col-span-3 {
    grid-column: span 3 / span 3;
}

// index
.nav-bar {
    height: 75px;
    background-color: #222222;
    align-content: center;
    &__left {
        display: flex;
        gap: 41px;
        margin-left: 10px;
        align-items: center;
    }
    &__right {
        display: flex;
        gap: 33px;
        align-items: center;
        margin-right: 10px;
    }
    &__link {
        background-color: unset;
        border: unset;
        position: relative;
        transition: 0.3s;
    }
    &__link:hover path {
        fill:$colorSelectSite;
        transition: 0.3s;
    }
}
.burger {
    &__icon:focus {
        transform: rotateX(90deg);
    }
    &:focus:before {
        content: 'X';
        font-size: 40px;
        color: $colorSelectSite;
        line-height: 32px;
    }
    &:focus .burger__icon {
        display: none;
    }    
    &:focus .burger-menu {   
        position: absolute;
        top: 53px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px 0px #00000036;
        display: flex;
        flex-direction: column;
        width: 232px;
        padding: 32px;
        left: -50px;
        z-index: 2;
        opacity: 1;
    }
    &:active .burger-menu {
        display: block; 
    }
}
.burger-menu {
    display: none; 
    opacity: 0;
    transition: all 0.3s;
    &__title {
        font-family: "Lato";
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 4px;
    }
    &__box-title {
        font-family: "Lato", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: $colorSelectSite;
        margin: 20px auto 12px auto;
    }
    &__links {
        display: flex;
        flex-direction: column;
        gap: 11px;
        margin-left: 21px;
    }
    &__link {
        font-family: "Lato";
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #6F6E6E;
    }
    &__link:hover {
        color: #222222;
    }
}
.cart-link::before {
    content: "5";
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    position: absolute;
    background-color: #F16D7F;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    top: -8px;
    right: -8px;
    text-align: center;
}

.banner {
    background-color: #F1E4E6;
    flex-wrap: nowrap;
    &__image {
        width: 50vw;
    }
    &__text {
        align-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }
}
.rectangle {
    width: 12px;
    background-color: $colorSelectSite;
    margin-left: 64px;
    margin-right: 16px;
    height: 92px;
}
.brand-name h1 {
    font-size: 32px;
    font-weight: 700;
    color: #222222;
    b {
        font-size: 48px;
        font-weight: 900;
        color: #222222;
    }
    span {
        font-size: 32px;
        font-weight: 700;
        color: $colorSelectSite;
    }
}

.offer {
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: stretch;
        text-align: center;
        gap: 30px;
        margin-top: 65px;
        margin-bottom: 96px;
    }
    &__card {
        position: relative;
    }
    &__text {
        position: absolute;
        background-color: rgba(33, 22, 22, 0.7);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {  
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
        }
        h2 {
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            text-align: center;
            color: $colorSelectSite;  
        }
    }    
}

.products {
    gap: 30px;
    display: flex;
    flex-direction: column;
    &__header {
        text-align: center;
    }
    &__header h2{
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        color: #222222;
        padding-bottom: 6px;
    }
    &__header p {
        font-size: 14px;
        font-weight: 400;
        color: #9F9F9F;
        padding-bottom: 48px;
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        &_closed {
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transition: max-height 0.5s ease, opacity 0.5s ease;
        }        
        &_open {
            max-height: 2000px; /* Достаточно большое значение для отображения всего контента */
            opacity: 1;
        }
    }
}
.product {
    img {
        width: 100%;
    }
    figcaption {
        background-color: #F8F8F8;
        display: flex;
        flex-direction: column;
        padding: 24px 16px;
        gap: 16px;
        h3 {
            font-size: 13px;
            font-weight: 400;
            color: #000000;
            span {
                font-size: 16px;
                font-weight: 400;
                color: $colorSelectSite;
            }
        }
        p {
            font-weight: 300;
        }
    }
    &__images {
        position: relative;
    }
    &-hover {
        display: none; 
        transition: all 0.5s;
        /* -webkit-transition: all 1s linear; */
        position: absolute;
        background: #3A3838DB;
        display: flex!important;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    &__link:hover &-hover {
        opacity: 1;
    }
}
.button__add-to-cart {
    display: flex;
    border: 1px solid #FFFFFF;
    width: 139px;
    height: 44px;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-evenly;
    p {
        color: #FFFFFF;
    }
    img {
        width: 26px;
    }
}
.products__footer__button {
    border: 1px solid #FF6A6A;
    padding: 14px 39px;
    color: #F26376;
    background-color: #ffffff;
    margin: 48px auto 60px auto;
    transition: all 0.5s;
    width: 212px;
    text-align: center;
    display: block;
    &::before {
        content: '';
    }
    &:hover {
        background-color: #FF6A6A;
        color: #FFFFFF;
    }
}

.feature {
    background-color: #222224;
    padding: 104px 0;
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    &__image {
        width: 47px;
        margin-bottom: 10px;
    }
    &__title {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: #FBFBFB;
    }
    &__text {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
}

.subscribe-block {
    background-image: url(img/Layer\ 41.jpg);
    background-size: cover;
    &__container {
        padding-top: 100px;
        padding-bottom: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #F4F4F4B2;
    }
    &__info {
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        text-align: center;
    }
    &__image {
        width: 96px;
        height: 96px;
        border-radius: 50%;
    }
    &__text {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
        &_italic {
            font-style: italic;
        }
    }
}
.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    text-align: center;
    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;
        color: #222224;
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        color: #222224;
    }
    &__email-und-button {
        flex-wrap: nowrap;
    }
    &__email {
        width: 256px;
        height: 49px;
        border-radius: 20px 0 0 20px;
        background-color: #E1E1E1;
        border: none;
        box-sizing: border-box;
        &::placeholder {
            padding: 22px;
        }
        &[type="email"] {
            padding: 22px;
        }
    }
    &__button {
        width: 100px;
        height: 49px;
        background-color: #E05C6E;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        border: none;
        border-radius: 0 20px 20px 0;
        transition: all 0.5s;
        &:hover {
            background-color: #FFFFFF;
            color: #E05C6E;
        }
    }
}

.footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #222224;
    justify-content: space-between;
    gap: 20px;
    &__copyright {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #FBFBFB;    
    }
}
.social-icons {
    gap: 7px;
    &__link {
        display: flex;
        width: 32px;
        height: 32px;
        background-color: #FFFFFF;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        &:hover {
            background-color: $colorSelectSite;
        }
        &:hover svg path {
            fill: #FFFFFF;
        }
    }
    &__image {
        height: 17px;
        path {
            fill: #000000;
        }
    }
}
// /index

// catalog
.breadcrumb {
    background-color: #F8F3F4;
    justify-content: space-between;
    align-items: center;
    &__title {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $colorSelectSite;
        padding: 60px 0;
    }
    &__list {        
        li:last-child a {
            font-weight: 700;
            color: $colorSelectSite;
        }
        li:not(:last-child)::after {
            content: '/';
            padding-right: 5px;
            padding-left: 5px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #636363;
        }
    }
    &__link {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
        &:hover {
            color: $colorSelectSite;
        }
    }
}

.filter-sort {
    height: 132px;
    position: relative;
    padding-top: 39px;
    box-sizing: border-box;
    display: flex;
    gap: $gapGrid;
}
.filter {  
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    &__content {
        background-color: #fff;
        padding-top: 0;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 16px;
    }
    &[open] {
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
    &[open] .filter__heading{
        color: $colorSelectSite;
    }
    &[open] path {
        fill: $colorSelectSite;
    }
    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }  
    &__heading {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
    }
    &__item {
        margin-top: 16px;
    }
    &__head {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelectSite;
    }
    &__item[open] .filter__head {
        color: $colorSelectSite;
    }
    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }
    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        &:hover {
        color: $colorSelectSite;
        }
    }
}  
.sort {
    padding-top: 12px;
    display: flex;
    gap: 18px;
    &__details {
        position: relative;
    }
    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__heading {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
    &__box {
        display: flex;
        flex-direction: column;
        gap: 6px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
        z-index: 10;
    }
    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #6F6E6E;
    }
}
// /catalog

// cart
.cart-section {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
    margin-bottom: 128px;
    flex-wrap: wrap;
    &__left {
        width: 652px;
    }
    &__cards {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &__card {
        display: flex;
        justify-content: space-between;
        filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
        background-color: #FFFFFF;
        img {
            width: 262px;
        }
    }
    &__text-box {
        display: flex;
        justify-content: space-between;
        width: 390px;
    }
    &__card-text {
        margin: 22px auto auto 31px;
        width: 262px;
        display: flex;
        flex-direction: column;
        gap: 44px;
        h3 {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #222222;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
        li {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: #575757;
        }
        li span {
            color: $colorSelectSite;
        }
        li input {
            border-style: solid;
            border-color: #EAEAEA;
            text-align: center;
            width: 44px;
            height: 25px;
            margin-left: 24px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #656565;
        }
    }
    &__card-close {
        margin: 28px 22px auto auto;
    }
    &__left-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 72px;
    }
    &__left-button {
        background: #FFFFFF;
        border: 1px solid #A4A4A4;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding: 17px 40px;
        transition: all 0.5s;
        &:hover {
            color: #FFFFFF;
            background-color: #A4A4A4;
            filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
        }
    }

    &__right {
        width: 360px;
        display: flex;
        flex-direction: column;
        gap: 57px;
        margin-top: 15px;
    }
    &__input-text {
        width: 360px;
    }
    &__form-checkout {
        padding: 40px 43px 42px;
        background-color: #F5F3F3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &__sub-total {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 13px;
            color: #4A4A4A;
            padding-bottom: 12px;
            span {
                margin-left: 17px;
            }
        }
        &__sub-total input {
            border: none;
            background-color: unset;
        }
        &__grand-total {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding-bottom: 21px;            
            p {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #222222;
            }

            span {
                margin-left: 17px;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: #F16D7F;
                input {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    color: #F16D7F;
                }
            }
        }
        &__grand-total input {
            border: none;
            background-color: unset;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {  
            -webkit-appearance: none;
        }
        input[type='number'] {
            -moz-appearance: textfield;
        }
        &__box-input-submit {
            width: 100%;
            border-top: 2px solid #E2E2E2;
            padding-top: 17px;
        }
        &__input-submit {
            width: 100%;
            background: $colorSelectSite;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            border: 1px solid $colorSelectSite;
            padding: 16px 42px;
            transition: all 0.5s;
            &:hover {
                color: $colorSelectSite;
                background-color: #FFFFFF;
            }
        }
    }
}
.form-post {
    &__box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    &__box-radio {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    &__radio-button {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #000000;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__title {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }
    &__input {
        background: #FFFFFF;
        border: 1px solid #A4A4A4;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #222222;
        padding: 13px 18px 16px;
        box-sizing: border-box;
        transition: all 0.5s;
    }
    &__description {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
    }
    &__submit {
        &:hover {
            color: #FFFFFF;
            background-color: #A4A4A4;
            filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
        }
        &_select {
            background: $colorSelectSite;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            border: 1px solid $colorSelectSite;
            transition: all 0.5s;
            input {
                font-family: "Lato";
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                background: none;
                border: none;
            }
            &:hover {
                color: $colorSelectSite;
                background-color: #FFFFFF;
                input {
                    color: $colorSelectSite;
                }
                svg path {
                    fill: $colorSelectSite;
                }
            }
        }
    }
}
// /cart

// registration
.registration-section {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 96px;
    // gap: 128px;
    &__left {
        width: 360px;
    }
    &__right {
        width: 652px;
    }
    &__form-input {
        width: 100%;
    }
    &__form-box-radio {
        margin-top: 31px;
        margin-bottom: 33px;
    }
    &__form-description {
        margin-top: 15px;
        margin-bottom: 39px;
    }
    &__offer {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    &__offer-text {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }
    &__offer-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__offer-check {
        margin-right: 22px;
    }
    &__submit_select {
        padding: 16px 29px;
        input {
            margin-right: 20px;
        }
    }
}
// /registration
@media (max-width:1024px) {
    .center {
        padding-left: calc(50% - 384px);
        padding-right:  calc(50% - 384px);
    }
    .banner {
        flex-wrap: nowrap;
    }
    .brand-name h1 {
        font-size: 24px;
        b {
            font-size: 44px;
        }
        span {
            font-size: 24px;
        }
    }
    .products__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}
@media (max-width:768px) {
    .center {
        padding-left: calc(50% - 350px);
        padding-right:  calc(50% - 350px);
    }
    .burger:focus .burger-menu {
        position: fixed;
        top: 75px;
        left: auto;
    }
    .banner {
        flex-wrap: wrap;
        justify-content: center;
        &__image img {
            width: 100vw;
        }
    }
    .rectangle {
        margin-left: 0;
    }
    .offer {
        &__cards {
            grid-template-columns: repeat(1, 1fr);
        }        
        &__image {
            height: 200px;
            object-fit: cover;
            object-position: top;
        }
    }
    .col-span-3 {
        grid-column: auto;
    }
    .subscribe-block-form__email {
        width: 57vw;
    }
    .products__cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .feature__cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .subscribe-block__container {
        justify-content: center;
        flex-wrap: wrap;
    }
    .social-icons {
        margin-right: 10px;
    }
}
@media (max-width:320px) {
    .burger:focus .burger-menu {
        left: auto;
        right: auto;
    }
}