@import 'vars';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
img {
    display: block;
    width: auto;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
body {
    font-family: Lato,
    sans-serif;
    padding: 0;
    margin: 0;
}
p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #5D5D5D;
}
li {
    list-style-type: none;
}
a {
    text-decoration:none;
}
summary {
    display: block;
}

summary::-webkit-details-marker {
display: none;
}
.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.display-none {
    display: none;
}
.justify-content-center {
    justify-content: center !important;
  }
.justify-content-between {
    justify-content: space-between !important;
}
.col-span-3 {
    grid-column: span 3 / span 3;
}

.nav_bar {
    height: 75px;
    background-color: #222222;
    align-content: center;
    &__left {
        display: flex;
        gap: 41px;
        margin-left: 10px;
    }
    &__right {
        display: flex;
        gap: 33px;
        align-items: center;
        margin-right: 10px;
        &__link {
            width: 32px;
        }

        & button {
            background-color: unset;
            border: unset;
            position: relative;
        }
    }
    &__right button:hover path {
        width: 100%;
        fill:$colorSelectSite;
    } 
}

.burger {
    transition: all 3s;
    &:focus {
        transform: rotateX(90deg);
    }
    &__link:focus:before {
        content: 'X';
        font-size: 40px;
        color: $colorSelectSite;
        line-height: 32px;
    }
    &__link:focus .burger {
        display: none;
    }    
    &__link:focus .burger__menu {   
        position: absolute;
        top: 53px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px 0px #00000036;
        display: flex;
        flex-direction: column;
        width: 232px;
        padding: 32px;
        left: -50px;
        z-index: 2;
    }
    &__link:active &__menu {
        display: none; 
    }

    &__menu {
        display: none; 
    }
    &__menu h2 {
        font-family: "Lato";
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 4px;
    }
    &__menu h3 {
        font-family: "Lato", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: $colorSelectSite;
        margin: 20px auto 12px auto;
    }
    &__menu nav {
        display: flex;
        flex-direction: column;
        gap: 11px;
        margin-left: 21px;
    }
    &__menu a {
        font-family: "Lato";
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #6F6E6E;
    }
    &__menu a:hover {
        color: #222222;
    }
}

.cart__link::before {
    content: '5';
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    position: absolute;
    background-color: $colorSelectSite;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    top: -8px;
    right: -8px;
}
.banner {
    background-color: #F1E4E6;
    flex-wrap: nowrap;
    &__image img {
        width: 50vw;
    }
    &__text {
        align-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }
}

.rectangle {
    width: 12px;
    background-color: $colorSelectSite;
    margin-left: 64px;
    margin-right: 16px;
    height: 92px;
}

.brand-name h1 {
    font-size: 32px;
    font-weight: 700;
    color: #222222;
    b {
        font-size: 48px;
        font-weight: 900;
        color: #222222;
    }
    span {
        font-size: 32px;
        font-weight: 700;
        color: $colorSelectSite;
    }
}

.offer {
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: stretch;
        text-align: center;
        gap: 30px;
        margin-top: 65px;
        margin-bottom: 96px;
    }
    &__card {
        position: relative;
        &__text {
            position: absolute;
            background-color: rgba(33, 22, 22, 0.7);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            p {  
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                text-align: center;
                color: #FFFFFF;
            }
            h2 {
                font-size: 24px;
                font-weight: 700;
                line-height: 29px;
                text-align: center;
                color: $colorSelectSite;  
            }
        }
    }
}

.products {
    gap: 30px;
    display: flex;
    flex-direction: column;
    &__header {
        text-align: center;
    }
    &__header h2{
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        color: #222222;
        padding-bottom: 6px;
    }
    &__header p {
        font-size: 14px;
        font-weight: 400;
        color: #9F9F9F;
        padding-bottom: 48px;
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        &__closed {
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transition: max-height 0.5s ease, opacity 0.5s ease;
        }        
        &__open {
            max-height: 2000px; /* Достаточно большое значение для отображения всего контента */
            opacity: 1;
        }
    }
    
    &__card {
        img {
            width: 100%;
        }
        figcaption {
            background-color: #F8F8F8;
            display: flex;
            flex-direction: column;
            padding: 24px 16px;
            gap: 16px;
            h3 {
                font-size: 13px;
                font-weight: 400;
                color: #000000;
                span {
                    font-size: 16px;
                    font-weight: 400;
                    color: $colorSelectSite;
                }
            }
            p {
                font-weight: 300;
            }
        }
        &__images {
            position: relative;
        }
        &-hover {
            display: none; 
            transition: all 0.5s;
            /* -webkit-transition: all 1s linear; */
            position: absolute;
            background: #3A3838DB;
            display: flex!important;
            align-content: center;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
        &__link:hover &-hover {
            opacity: 1;
        }
    }
}

.button__add-to-cart {
    display: flex;
    border: 1px solid #FFFFFF;
    width: 139px;
    height: 44px;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-evenly;
    p {
        color: #FFFFFF;
    }
    img {
        width: 26px;
    }
}

.products__footer__button {
    border: 1px solid #FF6A6A;
    padding: 14px 39px;
    color: #F26376;
    background-color: #ffffff;
    margin: 48px auto 60px auto;
    transition: all 0.5s;
    width: 212px;
    text-align: center;
    display: block;
    &::before {
        content: '';
    }
    &:hover {
        background-color: #FF6A6A;
        color: #FFFFFF;
    }
}

.feature {
    background-color: #222224;
    padding: 104px 0;
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        img {
            width: 47px;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            color: #FBFBFB;
        }
        figcaption {
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: center;
            color: #FBFBFB;
        }
    }
}

.subscribe {
    background-image: url(img/Layer\ 41.jpg);
    background-size: cover;
    &__container {
        padding-top: 100px;
        padding-bottom: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #F4F4F4B2;
    }
    &__info {
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        text-align: center;
        img {
            width: 96px;
            height: 96px;
            border-radius: 50%;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        text-align: center;
        header > h2 {
            font-size: 24px;
            font-weight: 700;
            line-height: 38px;
            letter-spacing: 0em;
            text-align: center;
            color: #222224;
        }
        header > h3 {
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: center;
            color: #222224;
        }
        &__email-und-button {
            flex-wrap: nowrap;
        }
        &__email {
            width: 256px;
            height: 49px;
            border-radius: 20px 0 0 20px;
            background-color: #E1E1E1;
            border: none;
            box-sizing: border-box;
            &::placeholder {
                padding: 22px;
            }
            &[type="email"] {
                padding: 22px;
            }
        }
        &__button {
            width: 100px;
            height: 49px;
            background-color: #E05C6E;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
            border: none;
            border-radius: 0 20px 20px 0;
            transition: all 0.5s;
            &:hover {
                background-color: #FFFFFF;
                color: #E05C6E;
            }
        }
    }
}

.footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #222224;
    justify-content: space-between;
    gap: 20px;
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #FBFBFB;    
    }
}
.footer 
.social__icon {
    gap: 7px;
    a {
        display: flex;
        width: 32px;
        height: 32px;
        background-color: #FFFFFF;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        svg {
            height: 17px;
            path {
                fill: #000000;
            }
        }
        &:hover {
            background-color: $colorSelectSite;
        }
        &:hover svg path {
            fill: #FFFFFF;
        }
    }
}

.breadcrumb {
    background-color: #F8F3F4;
    justify-content: space-between;
    align-items: center;
    &__title {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $colorSelectSite;
        padding: 60px 0;
    }
    &__list {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        a {
            color: #636363;
        }
    }
    .active {
        font-weight: 700;
        color: $colorSelectSite;
    }
    ul {
        gap: 5px;
    }
}

.filter-sort {
    height: 132px;
    position: relative;
    padding-top: 39px;
    box-sizing: border-box;
    display: flex;
    gap: $gapGrid;
}

.filter {  
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    &__content {
        background-color: #fff;
        padding-top: 0;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 16px;
    }
    &[open] {
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
    &[open] .filter__heading{
        color: $colorSelectSite;
    }
    &[open] path {
        fill: $colorSelectSite;
    }
    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }  
    &__heading {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
    }
    &__item {
        margin-top: 16px;
    }

    &__head {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelectSite;
    }

    &__item[open] .filter__head {
        color: $colorSelectSite;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        &:hover {
        color: $colorSelectSite;
        }
    }
}
  
.sort {
    padding-top: 12px;
    display: flex;
    gap: 18px;
    &__details {
        position: relative;
    }
    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__heading {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
    &__box {
        display: flex;
        flex-direction: column;
        gap: 6px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
        z-index: 10;
    }
    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #6F6E6E;
    }
}

@media (max-width:1024px) {
    .center {
        padding-left: calc(50% - 384px);
        padding-right:  calc(50% - 384px);
    }
    .banner {
        flex-wrap: nowrap;
    }
    .brand-name h1 {
        font-size: 24px;
        b {
            font-size: 44px;
        }
        span {
            font-size: 24px;
        }
    }
    .products__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}
@media (max-width:768px) {
    .center {
        padding-left: calc(50% - 350px);
        padding-right:  calc(50% - 350px);
    }
    .burger__link:focus .burger__menu {
        position: fixed;
        top: 75px;
        left: auto;
    }
    .banner {
        flex-wrap: wrap;
        justify-content: center;
        &__image img {
            width: 100vw;
        }
    }
    .rectangle {
        margin-left: 0;
    }
    .offer__cards {
        grid-template-columns: repeat(1, 1fr);
        img {
            height: 200px;
            object-fit: cover;
            object-position: top;
        }
    }
    .col-span-3 {
        grid-column: auto;
    }
    .subscribe__form__email {
        width: 57vw;
    }
    .products__cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .feature__cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .subscribe__container {
        justify-content: center;
        flex-wrap: wrap;
    }
    .social__icon {
        margin-right: 10px;
    }
}
@media (max-width:320px) {
    .burger__link:focus .burger__menu {
        left: auto;
        right: auto;
    }
}